/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.pane {
	-fx-border-style: solid;
	-fx-border-width: 2;
	-fx-border-radius: 5;
	-fx-background-color: #B9D6F2;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.border-pane {
	-fx-background-color:  #1C2541;
}

.label {
	-fx-text-fill: white;
}

.text {
	-fx-fill: white;
}